@import "../variable.scss";
.influencer {
  img {
    width: 92%;
    height: 60vh;
    object-fit: cover;
  }
  &__bot {
    @include flex(row, center, center);
    &__info {
      @include flex(column, flex-start, center, 1rem);
      padding-left: 2rem;
      width: 500px;
      height: 500px;
      background-color: $accent;
      color: white;
    }
    &__insta {
      @include flex(column, flex-start, center, 1rem);
      padding-left: 2rem;
      width: 500px;
      height: 500px;
      background-color: $primary;
      color: white;
    }
    &__tiktok {
      @include flex(column, flex-start, center, 1rem);
      padding-left: 2rem;
      width: 500px;
      height: 500px;
      background-color: $secondary;
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  .influencer {
    &__bot {
      @include flex(column, center, center);
      &__info {
        @include flex(column, center, center, 1rem);
        margin-top: 2rem;
        width: 100%;
        height: 100%;
        padding: 0;
      }
      &__insta {
        margin-top: 2rem;
        @include flex(column, center, center, 1rem);
        width: 100%;
        height: 100%;
        padding: 0;
      }
      &__tiktok {
        margin-top: 2rem;
        @include flex(column, center, center, 1rem);
        width: 100%;
        height: 100%;
        padding: 0;
      }
    }
  }
}
